---
import lodash from "lodash";
import electoralAreas from "../../data/electoral-areas.json";
import questions from "../../data/questions.json";
export function getStaticPaths() {
  return electoralAreas.map((electoralArea) => ({
    params: {
      area: lodash.kebabCase(electoralArea),
    },
    props: {
      area: electoralArea,
    },
  }));
}

const { area } = Astro.props;
---

<h1>{area}</h1>

{questions.map((question) => <h2>{question}</h2>)}
