---
import lodash from "lodash";
import { google } from "googleapis";
import { z } from "zod";

import { authorize } from "../google-api";
import Layout from "../layouts/Layout.astro";

const auth = await authorize();
const sheets = google.sheets({ version: "v4", auth });
const electoralAreasSchema = z.array(z.string());
const electoralAreasResponse = await sheets.spreadsheets.values.get({
  spreadsheetId: import.meta.env.SHEET_ID,
  range: "areas!A1:A11",
});
const electoralAreasFromSheet =
  electoralAreasResponse.data.values?.map((row) => row[0]) ?? [];
const electoralAreas = electoralAreasSchema.parse(electoralAreasFromSheet);
---

<Layout>
  <header class="p-8">
    <h1 class="text-6xl pb-4">
      What do the candidates for city council have to say about the issues that
      matter to you?
    </h1>
    <h2 class="text-2xl pb-4">
      We asked our readers what they want candidates in the 2024 local elections
      to discuss as they compete for votes, and then posed those questions to
      the candidates. These are their responses.
    </h2>
    <label>Select an electoral area</label>
    <select
      name="electoral-area"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2"
    >
      <option disabled selected>Choose your electoral area</option>
      {
        electoralAreas.map((electoralArea) => (
          <option value={lodash.kebabCase(electoralArea)}>
            {electoralArea}
          </option>
        ))
      }
    </select>
  </header>
  <main></main>
</Layout>
<script>
  const selectElement = document.querySelector("select[name=electoral-area]");
  selectElement?.addEventListener("change", (event) => {
    window.location.href = `${import.meta.env.BASE_URL}/areas/${(event.target as HTMLSelectElement).value}`;
  });
</script>
