---
import lodash from "lodash";
import { google } from "googleapis";
import { z } from "zod";

import { authorize } from "../google-api";
import Layout from "../layouts/Layout.astro";

const auth = await authorize();
const sheets = google.sheets({ version: "v4", auth });
const electoralAreasSchema = z.array(z.string());
const electoralAreasResponse = await sheets.spreadsheets.values.get({
  spreadsheetId: import.meta.env.SHEET_ID,
  range: "areas!A1:A11",
});
const electoralAreasFromSheet =
  electoralAreasResponse.data.values?.map((row) => row[0]) ?? [];
const electoralAreas = electoralAreasSchema.parse(electoralAreasFromSheet);
---

<Layout>
  <main>
    <h1>
      What do the candidates for city council have to say about the issues that
      matter to you?
    </h1>
    <p>
      We asked our readers what they want candidates in the 2024 local elections
      to discuss as they compete for votes, and then posed those questions to
      the candidates. These are their responses.
    </p>
    Select an electora area
    <select name="electoral-area">
      <option disabled selected>Choose your electoral area</option>
      {
        electoralAreas.map((electoralArea) => (
          <option value={lodash.kebabCase(electoralArea)}>
            {electoralArea}
          </option>
        ))
      }
    </select>
  </main>
</Layout>
<script>
  const selectElement = document.querySelector("select[name=electoral-area]");
  selectElement?.addEventListener("change", (event) => {
    window.location.href = `/areas/${(event.target as HTMLSelectElement).value}`;
  });
</script>
