---
import lodash from "lodash";

import { airtableClient } from "../airtable-api";
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";

const electoralAreas = await airtableClient("Areas")
  .select({
    view: "Grid view",
  })
  .all();

const dccElectoralAreas = electoralAreas.filter((electoralArea) => {
  const localAuthorityNameCol = electoralArea.get("Local Authority Name");
  if (Array.isArray(localAuthorityNameCol)) {
    return localAuthorityNameCol[0] === "Dublin City Council";
  }
});

const fingalElectoralAreas = electoralAreas.filter((electoralArea) => {
  const localAuthorityNameCol = electoralArea.get("Local Authority Name");
  if (Array.isArray(localAuthorityNameCol)) {
    return localAuthorityNameCol[0] === "Fingal County Council";
  }
});

const candidates = await airtableClient("Candidates")
  .select({
    view: "Grid view",
  })
  .all();

const candidatesByArea = candidates.reduce<Record<string, typeof candidates>>(
  (acc, candidate) => {
    const candidateAreaNameCol = candidate.get("Area name");
    const candidateAreaName = (candidateAreaNameCol as string[])[0];
    const candidatesInArea = acc[candidateAreaName]
      ? [...acc[candidateAreaName], candidate]
      : [candidate];
    return {
      ...acc,
      [candidateAreaName]: candidatesInArea,
    };
  },
  {}
);
---

<Layout>
  <header class="pt-2 pb-8 px-gutter">
    <h2 class="pb-4">
      We
      <Link
        href="https://dublininquirer.com/2024/03/13/here-are-the-issues-people-say-they-want-us-to-ask-local-election-candidates-about/"
        target="_blank">asked Dubliners</Link
      >
      what they want candidates in the 2024 local elections to talk about as they
      compete for votes, and then posed those questions to the candidates running
      seats on Dublin City Council and Fingal County Council. These are their responses.
    </h2>
    <select
      name="electoral-area"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2 block w-full"
    >
      <option disabled selected>Choose your electoral area</option>
      <option disabled>Dublin City Council</option>
      {
        dccElectoralAreas.map((electoralArea) => (
          <option
            value={lodash.kebabCase(electoralArea.get("Name")?.toString())}
          >
            {electoralArea.get("Name")}
          </option>
        ))
      }
      <option disabled>Fingal County Council</option>
      {
        fingalElectoralAreas.map((electoralArea) => (
          <option
            value={lodash.kebabCase(electoralArea.get("Name")?.toString())}
          >
            {electoralArea.get("Name")}
          </option>
        ))
      }
    </select>
  </header>
  <main class="px-gutter">
    {
      electoralAreas.map((electoralArea) => {
        return (
          <>
            <div>
              <p>{electoralArea.get("Name")}</p>
            </div>
            <div class="flex flex-wrap">
              {candidatesByArea[electoralArea.get("Name") as string]?.map(
                (candidate) => (
                  <div class="p-1">
                    <Link
                      to={`candidates/${lodash.kebabCase(candidate.get("Full name") as string)}`}
                    >
                      <img
                        src="https://picsum.photos/64"
                        class="rounded-full"
                      />
                      <p class="text-xs text-center w-16">
                        {candidate.get("Full name")}
                      </p>
                    </Link>
                  </div>
                )
              )}
            </div>
            <hr />
          </>
        );
      })
    }
  </main>
</Layout>
<script>
  const selectElement = document.querySelector("select[name=electoral-area]");
  selectElement?.addEventListener("change", (event) => {
    window.location.href = `${import.meta.env.BASE_URL}/areas/${(event.target as HTMLSelectElement).value}`;
  });
</script>
