---
import "./base.css";

interface Props {
  title?: string;
}

const { title = `Voters' Agenda` } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="font-body text-dublin-inquirer-foreground bg-dublin-inquirer-background"
  >
    <div class="flex px-gutter pt-4 pb-2 divide-x-2">
      <div class="pr-2">
        <a href="https://dublininquirer.com">
          <img
            class="w-48"
            src="https://i0.wp.com/dublininquirer.com/wp-content/uploads/2024/03/Voter-Guide-Logo-42.png?fit=215%2C90&ssl=1"
            alt="Dublin Inquirer"
            decoding="async"
            fetchpriority="high"
            srcset="https://i0.wp.com/dublininquirer.com/wp-content/uploads/2024/03/Voter-Guide-Logo-42.png?fit=215%2C90&ssl=1&w=215 215w"
            sizes="(max-width: 3333px) 100vw, 3333px"
          />
        </a>
      </div>
      <div class="pl-2">
        <a href={`${import.meta.env.BASE_URL}/`}>
          <h1 class="font-bold">2024 Local Elections Voter Guide</h1>
        </a>
      </div>
    </div>
    <slot />
  </body>
</html>
